body {
    background-color: lightblue
}



h1 {
    margin-left: 20px;
    color: blue;
    font-family: 'Courier New', Courier, monospace;
}

p {
    color: darkgreen;
    font-size: medium;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}